#!/bin/bash  

#==========================================================================#
#===================== MYBACKUPPER CONFIGURATION FILE =====================#
#==========================================================================#

#*******************************************#
#************ FOLDERS TO BACKUP ************#
#*******************************************#

# WHAT FOLDER DO WANT TO BCKUP ? INSERT SOURCE PATH HERE :
FOLDER_PATHS=('/Users/AlPhysiKal/4_MGR/1_COURS/11_Songs/Téléphone/'\ 
	''\ 
	''\
	'')

# IS DESTINATION FOLDER ON HOME NETWORK (NAS) ?
# PUT TRUE & ADDRESS IF YES :
NAS_BACKUP=true
NAS_ADDRESS="192.168.1.107"

# WHERE DO YOU WANT TO BACKUP FOLDERS ? INSERT DESTINATION PATH HERE :
DEST_PATH='/Volumes/HomeNAS-2/1_ALEX/1_MACBOOK_PRO_NAS_BCKUP'

#*******************************************#
#************** NOTIFICATIONS **************#
#*******************************************#

# Administrator E-mail address :
ADMIN_MAIL="aguillin@protonmail.com"
CC_MAIL=""