#!/bin/bash  

#==========================================================================#
#===================== MYBACKUPPER CONFIGURATION FILE =====================#
#==========================================================================#

#*******************************************#
#************ FOLDERS TO BACKUP ************#
#*******************************************#

# WHAT FOLDER DO WANT TO BCKUP ? INSERT SOURCE PATH HERE :
FOLDER_PATHS=('/Users/kalhal/Documents/Notes_Network'\ 
	'/Users/kalhal/Documents/Google_Cloud'\ 
	''\
	'')

# WHERE DO YOU WANT TO BACKUP FOLDERS ? INSERT DESTINATION PATH HERE :
DEST_PATH='/Users/kalhal/Desktop/Testing'

#*******************************************#
#************** NOTIFICATIONS **************#
#*******************************************#

# Administrator E-mail address :
ADMIN_MAIL="aguillin@protonmail.com"
CC_MAIL=""